@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/*----------- GENERAL SETUP -----------*/

*{
    box-sizing: border-box;

}

body{ 
    background-color: #020f1b; 
    color: #F6F6F6; 
    font-family: "Poppins", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    margin: 0;
} 

a{ 

    text-decoration: none; 
    -webkit-text-fill-color: #22d5fdbd;
 
} 

a:hover{ 

    text-decoration: none; 
    -webkit-text-fill-color: #22d5fd;
 
} 


span{
    border-radius: 20px;
    background-color: #031a30;
    padding: 10px;
    transition: 0.3s;
    width: 150px;
    text-align: center;
    
}

span:hover{
    background-color: #08447c;
    padding: 10px;
    transform: scale(1.05);
    -webkit-text-fill-color: #22d5fd;

}


strong{ 
    color: #22D4FD; 
}

/*----------- IMAGES SETUP -----------*/

.hand-emoji{
    margin-top: 150px;
    height: 9vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*----------- MAIN TEXT -----------*/

.title{
    margin: 20px 20px 0px;

}


.maincontent{
    text-align: center;
}


/*----------- SOCIALS -----------*/

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/*----------- RESPONSABILIDADE -----------*/

@media only screen and (max-width: 600px) {
    
    body{ 
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
    
    .title{
        margin: 20px 20px 0px;
    }

    main{
        margin: 20px;
    }

    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 150px;

    }

    .hand-emoji{
        margin-top: 150px;
        height: 18vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    aside{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }


  }

